.Split-screen {
    display: flex;
    flex-direction: column;
}

.Left {
    height: 20vh;

}

.Left, .Right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Left {
    background: rgba(14, 14, 14, 0.964)

}


@media screen and (min-width: 900px) {
    .Split-screen {
        flex-direction: row;
        height: 100vh;
    }
    .Left,
    .Right {
        display: flex;
        width: 50%;
        height: auto;
    }
}

.Form {
    
    display: flex;
    flex-direction: column;
    
}

.Form-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.Input-field{

    margin-bottom: 3vh;
    border-radius: 10px;
    width: 20vh; 
    height: 3vh; 
    border: 1px solid rgb(168, 167, 167);
    padding: 0.5vh;

}

.Label-text {

    margin-bottom: 1vh;
    color: black;

}

.Button {
    background-color: #0b7b10;
    color: white;
    padding: 1vh 2vh; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 15vh; 
    font-weight: bolder;
    margin-left: 3vh;
    
}

.Button:hover {
    background-color: #4adb64;
}

.Logo {
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;
}

.Header {
    
    text-align:center;
}
